<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss} [%t] %-5p %c{1}: (%L) - %m%n}{FATAL=red, ERROR=red, WARN=orange, INFO=black, DEBUG=green, TRACE=blue}"/>
        </Console>
        <File name="file" fileName="logs/logs.log" append="false">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-4level - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>